{% extends 'shared/_layout.html' %}
{% load static %}
{% block title %}
    سبد خرید
{% endblock %}
{% block content %}
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="pando-navbar-brand">
                <a href="index.html"><img src="/static/assets/img/core-img/logo.png" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="pando-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        {% include 'site_header_component.html' %}
        <!-- Header Area End -->

        <div class="cart-table-area section-padding-100">
            <div class="container-fluid" id="order-items">
                {% include 'order_module/component/orders-list-component.html' %}
            </div>
        </div>
    </div>
{% endblock %}