<form class="login" id="forgot-password-form"
      name="forgot-password-form" method="post">
    {% if csrf_token %}
        {% csrf_token %}
    {% else %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
    {% endif %}

    <div class="field rtl">
        {{ form.email }}
    </div>
    <div class="pass-link">
        {% for error in form.email.errors %}
            <p class="text-danger error-message">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="field btn">
        <div class="btn-layer"></div>
        <input type="submit" value='ارسال ایمیل بازیابی'>
    </div>
    <div class="signup-link">اکانتی ندارید؟ <a href="{% url 'register_page' %}">هم اکنون ثبت نام کنید</a></div>
</form>