<form action="/user/reset-password/{{ email_active_code }}" class="login" id="reset-password-form"
      name="reset-password-form" method="post">

    {% if csrf_token %}
        {% csrf_token %}
    {% else %}
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf }}">
    {% endif %}

    <div class="field rtl">
        {{ form.password }}
    </div>
    <div class="pass-link">
        {% for error in form.password.errors %}
            <p class="text-danger error-message">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="field rtl">
        {{ form.confirm_password }}
    </div>
    <div class="pass-link">
        {% for error in form.confirm_password.errors %}
            <p class="text-danger error-message">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="field btn">
        <div class="btn-layer"></div>
        <input type="submit" value='بازیابی کلمه عبور'>
    </div>
    <div class="signup-link">اکانتی ندارید؟ <a href="{% url 'register_page' %}">هم اکنون ثبت نام کنید</a></div>
</form>